
html, body, #root {
  height: 100%;
}

body {
  color: white;
  background-color: black;
}

.App {
  text-align: center;
  height: 100%;
}

main {
  border: 1px white solid;
}

header {
  height: 50px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  gap: 25px;
}